aliyun-python-sdk-alidns==3.0.7
aliyun-python-sdk-core==2.15.1
aliyun-python-sdk-kms==2.16.3
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.5
huaweicloudsdkcore==3.1.5
huaweicloudsdkdns==3.1.5
idna==3.11
jmespath==0.10.0
pycparser==3.0
PyYAML==6.0.3
requests==2.31.0
requests-futures==1.0.2
requests-toolbelt==1.0.0
simplejson==3.17.0
six==1.17.0
tencentcloud-sdk-python==3.0.1183
urllib3==2.6.3